.feedback {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 148px 14% 168px;
  text-align: center; }
  .feedback__title {
    margin-bottom: 85px; }
  .feedback__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .feedback__item {
    min-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 27.4%;
    position: relative;
    padding: 87px 50px 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    background: white;
    -webkit-box-shadow: -20px 25px 49px 0 rgba(0, 0, 0, 0.51);
            box-shadow: -20px 25px 49px 0 rgba(0, 0, 0, 0.51);
    border-radius: 16px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .feedback__item:hover {
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .feedback__item::after {
      content: "";
      height: 139px;
      width: 56px;
      position: absolute;
      right: calc(50% + 20px);
      top: 36px;
      z-index: 1;
      background-color: #2060f6;
      border-radius: 12px;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg); }
    .feedback__item::before {
      content: "";
      height: 139px;
      width: 56px;
      position: absolute;
      left: calc(50% + 20px);
      top: 129px;
      z-index: 1;
      background-color: #2060f6;
      border-radius: 12px;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg); }
  .feedback__img {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-bottom: 82px; }
    .feedback__img:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }

@media screen and (max-width: 1100px) {
  .feedback {
    padding-top: 20px;
    padding-bottom: 20px; }
    .feedback__title {
      margin-bottom: 25px; }
    .feedback__container {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .feedback__item {
      margin-bottom: 20px; } }

/*# sourceMappingURL=feedback.css.map */
